* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: 400;
    text-align: initial;
}

h1 {
    font-size: 50px;
    text-align: center;
}

body{
    margin: auto;
    width: 80%;
}






.conteiner {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
}

.conteiner2 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
}

.conteiner3 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    flex-direction: column-reverse;
}

.conteiner4 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    flex-direction:row;
}

.conteiner5 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    flex-direction:row-reverse;
}

.conteiner6 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    flex-wrap: wrap;
}

.conteiner7 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    flex-wrap: nowrap;
}

.conteiner8 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    flex-flow: row wrap;
}

.conteiner9 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    justify-content: initial;
}

.conteiner10 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
}

.conteiner11 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    justify-content:flex-start;
}

.conteiner12 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    justify-content:flex-end;
}

.conteiner14 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    justify-content:space-between;
}

.conteiner13 {
    height: 200px;
    width: 700px;
    margin: auto;
    background-color: rgb(187, 187, 187);
    border: 1px solid #000000;
    display: flex;
    justify-content:space-around;
}

.contido {
    width: 100px;
    height: 100px;
    /* margin: auto; */
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    font-size: xx-large;
    text-align: center;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


.codigo {
    width: 700px;
    margin: auto;
}